
body {
  background-color: white;
  font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,"system-ui",system-sans,"sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #609090;
  text-align: center;
}

h2 {
  color: #606090;
  margin-left: 28px;
}

span.constellation {
  background-color: #F0F0FF;
}

div.effect_section {
  background-color: #F0F0F0;
}

img.genome_schematic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.crossref {
  text-align: center;
  text-color: #F0A0A0;
  background-color: #F0F0D0;
}

div.tip {
  background-color: #F0F0A0;
  text-color: #F0A0A0;
  text-align: center;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}


ul.lit_list{
  list-style-type: square;
  list-style-position: outside;
}

ul.lit_list li.lit_item {
  margin: 5px;
}

span.lit_summary {
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

ul.constellation_list {
  column-count: 4;
}

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 50% ;
  vertical-align: top ;
}
